kube_master:
    hosts:
        master:
            ansible_host: ${master_ip}
            ip: ${master_ip}
            access_ip: ${master_ip}

kube_node:
    hosts:
    %{ for instance in workers ~}
    ${instance.name}:
            ansible_host: ${instance.ipv4_address}
            ip: ${instance.ipv4_address}
            access_ip: ${instance.ipv4_address}
    %{ endfor ~}   

etcd:
    children:
        kube_master:
        kube_node:

calico_rr:
    hosts: {}
            