all:    
    hosts:
        master:
            ansible_host: ${master_ip}
            ansible_user: ${ansible_user}
    %{ for instance in workers ~}
    ${instance.name}:
            ansible_host: ${instance.ipv4_address}
            ansible_user: ${ansible_user}
    %{ endfor ~}

            